<label class="switch switch-icon switch-success">
    <input type="checkbox" class="switch-input request-ajax-for-active" {% if isActive==1 %}checked{% endif %} data-url='{{ url }}'>
    <span class="switch-label" data-on="" data-off=""></span>
    <span class="switch-handle"></span>
</label>