<li class="nav-item dropdown">
    <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{{ asset('/bundles/beasteasyadmin/img/avatars/lu.jpg') }}" class="img-avatar" alt="admin@bootstrapmaster.com">
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
            <strong>设置</strong>
        </div>
        <a class="dropdown-item" href="{{path('beast_admin_authorization_logout')}}"><i class="fa fa-lock"></i> 退出</a>
    </div>
</li>