<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="CoreUI Bootstrap 4 Admin Template">
        <meta name="author" content="Lukasz Holeczek">
        <meta name="keyword" content="CoreUI Bootstrap 4 Admin Template">
        <title>404 not found</title>
        <!-- Icons -->
        <link href="{{ asset('bundles/beasteasyadmin/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/beasteasyadmin/css/simple-line-icons.css') }}" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="{{ asset('bundles/beasteasyadmin/css/style.css') }}" rel="stylesheet">
    </head>

    <body class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="clearfix">
                        <h1 class="float-left display-3 mr-2">404</h1>
                        <h4 class="pt-1">这里什么都没有.</h4>
                        <p class="text-muted">Oops! You're lost.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>